@import url(reset.css);
.container,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .zhao {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.container .zhao .sure {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.5rem;
}
.container .zhao .sure p {
  text-align: center;
  line-height: 60px;
  font-size: .4rem;
}
.container .zhao .sure .p1 {
  display: inline-block;
  font-size: 15px;
  text-indent: 0.3em;
  text-align: center;
  margin-top: 15px;
}
.container .zhao .sure .p2 {
  display: block;
  font-size: 10px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 3px;
  color: #efefef;
}
.container .zhao .sure .sp {
  border-top: 1px solid #ffd6a1;
  border-right: 1px solid #929292;
  text-align: center;
  display: inline-block;
  width: 49%;
  height: 42px;
  line-height: 42px;
  font-size: 15px;
}
.container .zhao1 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.container .zhao1 .sure1 {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.5rem;
}
.container .zhao1 .sure1 p {
  margin-top: 6px;
  margin-left: 20px;
  font-size: 15px;
  border-bottom: 1px solid #eeeeee;
  height: 28px;
}
.container header {
  width: auto;
  height: 0.89rem;
  background: #f94c5c;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container header .img {
  position: absolute;
  top: 0.25rem;
  left: 0.4rem;
}
.container header .img img {
  width: 0.36rem;
  height: auto;
}
.container header .head {
  -webkit-box-flex: 1;
  text-align: center;
  color: white;
  font-size: 20px;
}
.container section {
  -webkit-box-flex: 1;
  background: #f3f3f3;
  position: relative;
}
.container section .one1 {
  width: 100%;
  height: 0.94rem;
  background: none;
  margin-top: 13px;
  background: #ffffff url(../img/images/3-3-1设置·_07.png) no-repeat right 20px center;
  background-size: auto 0.3rem;
  border-bottom: 1px solid #f3f3f3;
}
.container section .one1 a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 37px;
}
.container section .one2 {
  width: 100%;
  height: 0.94rem;
  background: none;
  background: #ffffff url(../img/60.png) no-repeat right 7px;
  background-size: auto 1rem;
  border-bottom: 1px solid #f3f3f3;
}
.container section .one2 a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 37px;
}
.container section .one {
  width: 100%;
  height: 0.94rem;
  background: none;
  background: #ffffff url(../img/images/3-3-1设置·_07.png) no-repeat right 20px center;
  background-size: auto 0.3rem;
  border-bottom: 1px solid #f3f3f3;
}
.container section .one a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 37px;
}
.container section .two {
  width: 100%;
  height: 0.94rem;
  background: #ffffff;
  background-size: auto 0.3rem;
  position: relative;
}
.container section .two a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 37px;
}
.container section .two span {
  position: absolute;
  top: 30%;
  right: 20px;
  font-size: 16px;
}
.container section .two2 {
  width: 100%;
  height: 0.94rem;
  background: none;
  background: #ffffff url(../img/images/3-3-1设置·_07.png) no-repeat right 20px center;
  background-size: auto 0.3rem;
  border-bottom: 1px solid #f3f3f3;
}
.container section .two2 a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 37px;
}
.container section .dd {
  width: 6.7rem;
  height: 0.88rem;
  background: #f9384b;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-left: -0.35rem;
  margin-left: 0.35rem;
  border-radius: 10px ;
}
.container section .dd a {
  color: #fff;
  font-size: 20px ;
  line-height: 0.8rem;
}
.container section .name {
  width: 100%;
  height: 0.94rem;
  background: #ffffff;
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}
.container section .name a {
  font-size: 17px;
  margin-left: 20px;
  line-height: 37px;
}
.container section .name span {
  font-size: 15px;
  line-height: 37px;
  position: absolute;
  top: 0;
  right: 15px;
  color: #a1a1a1;
}
